.estiloTexto {
    color: rgb(221, 54, 32);
    text-align: center;
    direction: ltr; /*left to right, right to left */
    text-decoration-line: line-through;
    text-transform: uppercase; /*otras opciones: lowercase, capitalize */
    text-indent: 50px;
    letter-spacing: 10px;
    line-height: 1.8;
    word-spacing: 5px;
    /*white-space: nowrap; /*descomentar esta linea para ver la diferencia*/
    
    font-family: Arial, Helvetica, sans-serif;
   }
   .estiloTexto2 {
    color: rgb(237, 241, 243);
    text-align: center;
    direction: ltr; 
    text-decoration: dashed;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
   }
   
   .estiloTexto3 {
    color: rgb(221, 54, 32);
    text-align: center;
    letter-spacing: 10px;
    text-shadow: 1px 1px rgba(38, 87, 18, 0.747);
    text-decoration: wavy 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .estiloTexto4 {
    color: rgb(237, 241, 243);
    text-align: left;
    direction: ltr; 
    text-decoration: dashed;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
   }

   .estiloTexto5 {
    color: rgb(221, 54, 32);
    text-align: left;
    letter-spacing: 10px;
    text-shadow: 1px 1px rgba(38, 87, 18, 0.747);
    text-decoration: wavy 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .estiloTexto6 {
    color: rgb(221, 54, 32);
    text-align: left;
    direction: ltr; 
    text-decoration: dashed;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
   }

   .estiloTexto7 {
    color: rgb(22, 23, 24);
    text-align: center;
    direction: ltr; 
    text-decoration: dashed;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
   }